<!DOCTYPE html>
<html>
<head>

<link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"

href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript"

src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"

src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">
<style>
div.transbox {
    padding: 10px;
margin: 30px;
background-color: #ffffff;
border: 1px solid black;
opacity: 1.0;
filter: alpha(opacity=60); /* For IE8 and earlier */
}
</style>

</head>
    <body>

      <body id="page-top">

      <nav class="navbar navbar-expand-lg navbar-fixed-top bg-black navbar-dark" id="mainNav">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link js-scroll-trigger" href="{{url_for('atlas')}}">Atlas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


        <br><br><br>
        <div class = "transbox">
        <div class = "table-responsive">
        <table border = "1" id="myTable" class="display table" width = "100%">
                    <center><h1 style = "color:black">Albums</h1></center>
                    <thead>
		<tr>
		  <th>Album Name</th>
		  <th>Band</th>
                  <th>Year Released</th>
                  <th>Highest Charting Song</th>
                  <th>Genre</th>
                  <th>Number of Songs</th>
		</tr>
  </thead>
  <tbody>
                {% for i in albums%}
		  <tr>
		    <td><a href="{{url_for('specific_album',album_name=i.album_name)}}">{{i.album_name}}</a></td>
		    <td><a href="{{url_for('specific_band',band_name=i.band)}}">{{i.band}}</a></td>
		    <td>{{i.year_released}}</td>
		    <td><a href="{{url_for('specific_song',song_name=i.highest_charting_song)}}">{{i.highest_charting_song}}</td>
		    <td>{{i.genre}}</td>
		    <td>{{i.number_of_songs}}</td>
		 </tr>
		{%endfor%}
  </tbody>
	</table>
</div>
</div>

  <a href = "{{url_for('index')}}">Return to Home</a>








        <!-- Bootstrap core JavaScript -->

        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>


        <!-- Plugin JavaScript -->
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>
        <!-- Custom scripts for this template -->
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>
        <script>
        $(document).ready(function(){
        $('#myTable').dataTable();
        });
        </script>
    </body>
</html>
