<!DOCTYPE html>
<html>
    <head>
      <style>
      p { text-align: center
       }

      #toggle {
        display: none;
      }

      </style>



          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <!-- Bootstrap core CSS -->
          <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


          <!-- Custom fonts for this template -->
          <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

          <!-- Custom styles for this template -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

        <title>Brianstorm</title>
        <link rel="stylesheet" type="text/css" href="scrollbox.css">
    </head>
    <body>
      <body id="page-top">

      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<br><br><br>
      <center><h1>Brianstorm</h1></center>
      <br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <br><br><br><br>
            <ul>
              <ul>
                <li>Artist: <a href="{{url_for('arctic_monkeys')}}">Arctic Monkeys</a></li>
                <li>Album: <a href="{{url_for('favourite_worst_nightmare')}}">Favourite Worst Nightmare</a></li>
                <li>Year: 2007</li>
                <li>Genre: Indie Rock</li>
                <li>Language: English</li>
              </ul>
            </ul>
          </div>
          <div class="col-lg">
            <center><iframe width="560" height="315" src="https://www.youtube.com/embed/30w8DyEJ__0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
          </div>
        </div>
      </div>

<br>
    <div class = "container">

      <center><button class="btn btn-secondary btn-lg" onclick="toggleLyrics()" id = "lyrics" >Press me to see lyrics!</button></center>
      <br>
      <div id = "toggle" style="display:none">
        <h3><center>Lyrics</center></h3>
            <p>Brian</p>
            <p>Top marks for not tryin'</p>
            <p>So I'd like you to bless us with your effortlessness</p>
            <p>We'd wait for and so trained and comforted</p>
            <br>
            <p>And I wonder are you puttin' us under</p>
            <p>Cause we can't take our eyes off his t-shirt and ties combination</p>
            <p>Well see you later, innovator</p>
            <br>
            <p>Some want to kiss some want to kick you</p>
            <p>There's not a net you couldn't slip through</p>
            <p>Or at least that's the impression I get cause you're smooth and you're wet</p>
            <p>And she's not aware yet but she's yours</p>
            <br>
            <p>She'll be sayin' use me</p>
            <p>Show me the jacuzzi</p>
            <p>I imagine that it's there on a plate</p>
            <p>You're rendezvous rate</p>
            <p>Means that you'll never be frightened</p>
            <p>To make them wait for a while</p>
            <p>I doubt it's your style not to get what you set out to acquire</p>
            <p>The eyes are on fire</p>
            <p>You are the unforecasted storm</p>
            <br>
            <p>(Brian) Calm, collected, and commandin'</p>
            <p>(Top marks for not tryin') You hit the other story standin'</p>
            <p>With your ambitions and jokes</p>
            <p>Bet there's hundreds of blokes that have wept cause you've stolen their ...thunder</p>
            <p>Are you puttin' us under</p>
            <br>
            <p>Cause we can't take our eyes off his t-shirt and ties combination</p>
            <p>Well see you later, innovator</p>
            <br><br><p>Source: <a href="https://www.azlyrics.com/lyrics/arcticmonkeys/brianstorm.html">AZLyrics</a></p>
          </div>
        </div>
            <div id = "bottom">
        <br><a href="{{url_for('songs')}}">Return to Songs</a>
        <br><a href="{{url_for('index')}}">Return to Home Page</a>
      </div>

















        <!-- Bootstrap core JavaScript -->

        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

        <!-- Custom scripts for this template -->
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

        <script>
        function toggleLyrics() {
          var x = document.getElementById("toggle");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
            }
          }
          </script>
    </body>
</html>
