<!DOCTYPE html>
<html>
<head>
  <style>
  p { text-align: center }
  </style>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

    <title>Franz Ferdinand</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>
<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <style>
    .default {cursor: default;}
    .small {font-size:small;}
  </style>

<br><br><br>
  <center><h1>Franz Ferdinand</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <ul style="padding-left: 100px">
          <ul>
            <li>Place of Origin: Glasgow, Scotland</li>
            <li>Year started: 2002</li>
            <li>Genre: Indie Rock</li>
            <li><a href = "http://franzferdinand.com/">Website</a></li>
            <li>Albums   <a id="arrow1" class="default small" onclick=showListOfAlbums()>⯇</a></li>
              <div id="listOfAlbums" style="display:none">
                <ul>
                    <li><a href="{{url_for('you_could_have_it_so_much_better')}}">You Could Have It So Much Better</a></li>
                    <li>Franz Ferdinand</li>
                    <li>Right Thoughts</li>
                    <li>Right Words</li>
                    <li>Right Actions</li>
                    <li>Always Ascending</li>
                    <li>Tonight: Franz Ferdinand</li>
                </ul>
              </div>
            <li>Notable Songs  <a id="arrow2" class="default small" onclick=showListOfNotableSongs()>⯇</a></li>
            <div id="listOfNotableSongs" style="display:none">
            <li>Notable Songs:</li>
                <ul>
                    <li><a href="{{url_for('the_fallen')}}">The Fallen</a></li>
                    <li>Take Me Out</li>
                    <li>This Fire</li>
                </ul>
            </div>
            <li>Members <a id="arrow3" class="default small" onclick=
            showListOfMembers()>⯇</a></li>
              <div id="listOfMembers" style="display:none">
                <ul>
                    <li>Alex Kapranos</li>
                    <li>Bob Hardy</li>
                    <li>Paul Thomson</li>
                    <li>Julian Corrie</li>
                    <li>Dino Bardot</li>
                </ul>
              </div>  
          </ul>
        </ul>
      </div>
      <div class="col-lg">
        <center><img src="{{url_for('static', filename='images/franz_ferdinand.jpg')}}" style = "width:560px; height:315px;"></center>
        <!-- <center><img src="https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2018/06/26/icfranz2260618.jpg?itok=c6nI85LV&timestamp=1529984849" style = "width:560px; height:315px;"></center> -->
      </div>
    </div>
  </div>

<div id = "bottom"> 
  <br><a href="{{url_for('bands')}}">Return to Bands</a>
  <br><a href="{{url_for('index')}}">Return to Home Page</a>
</div>

  <script>
    function showListOfAlbums()
    {
          var x=document.getElementById("listOfAlbums");
          var y=document.getElementById("arrow1")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
    function showListOfNotableSongs()
    {
          var x=document.getElementById("listOfNotableSongs");
          var y=document.getElementById("arrow2")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
    function showListOfMembers()
    {
          var x=document.getElementById("listOfMembers");
          var y=document.getElementById("arrow3")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
  </script>

















    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

</body>
</html>
