<html>
<head>
  <style>
  p { text-align: center }
  </style>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS reference -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts reference for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles reference for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

    <title>King Gizzard & The Lizard Wizard</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>
<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
    .default {cursor: default;}
    .small {font-size:small;}
  </style>
<br><br><br>
  <center><h1>King Gizzard & The Lizard Wizard</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <ul style="padding-left: 100px">
            <ul>
                <li>Place of Origin: Melbourne, Australia</li>
                <li>Year started: 2010</li>
                <li>Genre: Psychedelic rock</li>
                <li><a href = "https://kinggizzardandthelizardwizard.com/">Website</a></li>
                <li>Albums   <a id="arrow1" class="default small" onclick=showListOfAlbums()>⯇</a></li>
                <div id="listOfAlbums" style="display:none">
                	<ul>
                        <li><a href="{{url_for('nonagon_infinity')}}">Nonagon Infinity</a></li>
                        <li>Fishing For Fishies</li>
                        <li>Gumboot Soup</li>
                        <li>Polygondwanaland</li>
                        <li>Murder of the Universe</li>
                        <li>Flying Microtonal Banana</li>
                        <li>12 Bar Bruise</li>
                       <li>Eyes Like the Sky</li>
                       <li>Float Along - Fill Your Lungs</li>
                       <li>Oddments</li>
                       <li>I'm in Your Mind Fuzz</li>
                       <li>Quarters!</li>
                       <li>Paper Mache Dream Balloon</li>
                       <li>Sketches of Brunswick East</li>
                       <li>Infest the Rats' Nest</li>
                     </ul>  
                </div>
                <li>Notable Songs  <a id="arrow2" class="default small" onclick=showListOfNotableSongs()>⯇</a></li>
                <div id="listOfNotableSongs" style="display:none">
                    <ul>
                        <li><a href="{{url_for('robot_stop')}}">Robot Stop</a></li>
                        <li>The River</li>
                        <li>Sense</li>
                    </ul>
                </div>  
                <li>Members <a id="arrow3" class="default small" onclick=showListOfMembers()>⯇</a></li>
                <div id="listOfMembers" style="display:none">
                    <ul>
                        <li>Stu Mackenzie</li>
                        <li>Ambrose Kenny-Smith</li>
                        <li>Joey Walker</li>
                        <li>Cook Craig</li>
                        <li>Lucas Skinner</li>
                        <li>Michael Cavanagh</li>
                        <li>Eric Moore</li>
                    </ul>
                  </div>
            </ul>
          </ul>
      </div>
      <div class="col-lg">
        <center><img src="{{url_for('static', filename='images/king_gizzard_and_the_lizard_wizard.jpeg')}}" style = "width:560px; height:315px;"></center>
        <!-- <center><img src="https://cdn3-www.musicfeeds.com.au/assets/uploads/king-gizzard-lizard-wizard-2018-press-pic-supplied-stairs-671x377.jpeg" style = "width:560px; height:315px;"></center> -->
      </div>
    </div>
  </div>

<div id = "bottom"> 
  <br><a href="{{url_for('bands')}}">Return to Bands</a>
  <br><a href="{{url_for('index')}}">Return to Home Page</a>
</div>

  <script>
  	function showListOfAlbums()
  	{
          var x=document.getElementById("listOfAlbums");
          var y=document.getElementById("arrow1")
          if(x.style.display=="none")
          {
          	x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
          	x.style.display="none";
            y.innerHTML="⯇";
          }
  	}
    function showListOfNotableSongs()
    {
          var x=document.getElementById("listOfNotableSongs");
          var y=document.getElementById("arrow2")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
    function showListOfMembers()
    {
          var x=document.getElementById("listOfMembers");
          var y=document.getElementById("arrow3")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
  </script>

















    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

    </body>
</html>
