<!DOCTYPE html>
<html>
<head>
  <style>
  p { text-align: center }
  #toggle {
    display: none;
  }
  </style>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

    <title>Robot Stop</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>
<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br><br><br>
  <center><h1>Robot Stop</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <br><br><br><br>
        <ul>
          <ul>
            <li>Artist: <a href="{{url_for('king_gizzard_and_the_lizard_wizard')}}">King Gizzard & The Lizard Wizard</a></li>
            <li>Album: <a href="{{url_for('nonagon_infinity')}}">Nonagon Infinity</a></li>
            <li>Year: 2016</li>
            <li>Genre: Psychedelic Rock</li>
            <li>Language: English</li>
          </ul>
        </ul>
      </div>
      <div class="col-lg">
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/9p_Si21ig7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
      </div>
    </div>
  </div>

<br>
<div class = "container">
  <center><button class="btn btn-secondary btn-lg" onclick="toggleLyrics()" id = "lyrics" >Press me to see lyrics!</button></center>
  <br>
  <div id = "toggle" style="display:none">
    <h3><center>Lyrics</center></h3>
    <p>Nonagon infinity opens the door</p>
    <p>Nonagon infinity opens the door</p>
    <p>Wait for the answer to open the door</p>
    <p>Nonagon infinity opens the door</p>
    <br>
    <p>One two three!</p>
    <br>
    <p>Loosen up</p>
    <p>Time to drop</p>
    <p>F*ck sh*t up</p>
    <p>Don't forget about it</p>
    <p>My coffin's all I see</p>
    <p>Lately</p>
    <p>Robot stop</p>
    <br>
    <p>Loosen up</p>
    <p>Time to drop</p>
    <p>F*ck sh*t up</p>
    <p>Don't forget about it</p>
    <p>My coffin's all I see</p>
    <p>Lately</p>
    <p>Robot stop</p>
    <br>
    <p>My body's overworked</p>
    <p>It's just the same I know</p>
    <p>When can my body work</p>
    <p>Cold static overload?</p>
    <p>My body works, I know</p>
    <p>It's just the same, I know</p>
    <p>My only difference</p>
    <p>Is robot influence</p>
    <br>
    <p>I'm up here for the weirdo swarm</p>
    <p>I'm the door when you come for more</p>
    <br>
    <p>One two three!</p>
    <br>
    <p>Limber up</p>
    <p>Time is up</p>
    <p>F*ck sh*t up</p>
    <p>Don't forget about it</p>
    <p>My coffin's all I see</p>
    <p>Lately</p>
    <p>Robot stop</p>
    <br>
    <p>My body's overworked</p>
    <p>It's just the same I know</p>
    <p>When can my body work</p>
    <p>Cold static overload?</p>
    <p>My body works, I know</p>
    <p>It's just the same, I know</p>
    <p>My only difference</p>
    <p>Is robot influence</p>
    <br>
    <p>Upload me to the robot brain</p>
    <p>I'm the drudge that goes again and again</p>
    <p>Bring the spooks to the beer-soaked glade</p>
    <p>The robots here of the robots paid</p>
    <br>
    <p>My body's overworked</p>
    <p>It's just the same I know</p>
    <p>When can my body work</p>
    <p>Cold static overload?</p>
    <p>My body works, I know</p>
    <p>It's just the same, I know</p>
    <p>My only difference</p>
    <p>Is robot influence</p>
    <br>
    <p>I'm up here for the weirdo swarm</p>
    <p>I'm the door when you come for more</p>
    <br>
    <p>One two three!</p>
    <br>
    <p>Nonagon infinity opens the door</p>
    <p>Nonagon infinity opens the door</p>
    <p>Wait for the answer to open the door</p>
    <p>Nonagon infinity... </p>
    <br><br><p>Source: <a href="https://www.azlyrics.com/lyrics/kinggizzardthelizardwizard/robotstop.html">AZLyrics</a></p>
      </div>
    </div>
        <div id = "bottom">
    <br><a href="{{url_for('songs')}}">Return to Songs</a>
    <br><a href="{{url_for('index')}}">Return to Home Page</a>
  </div>

















    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

    <script>
    function toggleLyrics() {
      var x = document.getElementById("toggle");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
        }
      }
      </script>

</body>
</html>
