<!DOCTYPE html>
<html>
<head>
  <style>
  p { text-align: center }
  #toggle {
    display: none;
  }
  </style>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

    <title>{{song_object.song_name}}</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>
<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-fixed-top bg-black navbar-dark" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('atlas')}}">Atlas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br><br><br>
  <center><h1>{{song_object.song_name}}</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <br><br><br><br>
        <ul>
          <ul>
            <li>Artist: <a href="{{url_for('specific_band',band_name=song_object.band)}}">{{song_object.band}}</a></li>
            <li>Album:  <a href="{{url_for('specific_album',album_name=song_object.album)}}">{{song_object.album}}</a></li>
            <li>Year: {{song_object.year}}</li>
            <li>Genre: {{song_object.genre}}</li>
            <li>Language: {{song_object.language}}</li>
          </ul>
        </ul>
      </div>
      <div class="col-lg">
        <center><iframe id="youtube_link" width="560" height="315" src={{song_object.video}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
      </div>
    </div>
  </div>

<br>
<div class = "container">
  <center><button class="btn btn-secondary btn-lg" onclick="toggleLyrics()" id = "lyrics" >Press me to see lyrics!</button></center>
  <br>
  <div id = "toggle" style="display:none; text-align:center;">
    <h3>Lyrics</h3>
    {% autoescape false %}
      {{actual_lyrics_of_song}}
    {% endautoescape %}
    <br><br><p>Source: <a href={{song_object.lyrics}}>AZLyrics</a></p>
      </div>
    </div>


















    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

    <script>
    function toggleLyrics() {
      var x = document.getElementById("toggle");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
        }
      }
      </script>

</body>
</html>
