<!DOCTYPE html>
<html>
<head>
  <style>
  p { text-align: center }
  #toggle {
    display: none;
  }
  </style>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

    <title>The Fallen</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>

<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br><br><br>
  <center><h1>The Fallen</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <br><br><br><br>
          <ul>
            <ul>
              <li>Artist: <a href="{{url_for('franz_ferdinand')}}">Franz Ferdinand</a></li>
              <li>Album: <a href="{{url_for('you_could_have_it_so_much_better')}}">You Could Have It So Much Better</a></li>
              <li>Year: 2005</li>
              <li>Genre: Indie Rock</li>
              <li>Language: English</li>
            </ul>
          </ul>
      </div>
      <div class="col-lg">
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/prrwSME_QEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
      </div>
    </div>
  </div>

<br>
<div class = "container">
  <center><button class="btn btn-secondary btn-lg" onclick="toggleLyrics()" id = "lyrics" >Press me to see lyrics!</button></center>
  <br>
  <div id = "toggle" style="display:none">

    <h3><center>Lyrics</center></h3>
    <p>Some say you're trouble, boy</p>
    <p>Just because you like to destroy</p>
    <p>All the things that bring the idiots joy</p>
    <p>Well, what's wrong with a little destruction?</p>
    <br>
    <p>And the Kunst won't talk to you</p>
    <p>Because you kissed St Rollox Adieu</p>
    <p>Because you robbed a supermarket or two</p>
    <p>Well, who gives a damn about the prophets of Tesco?</p>
    <br>
    <p>Did I see you in a limousine</p>
    <p>Flinging out the fish and the unleavened</p>
    <p>Turn the rich into wine</p>
    <p>Walk on the mean</p>
    <p>For the fallen are the virtuous among us</p>
    <p>Walk among us</p>
    <p>Never judge us</p>
    <p>Yeah we're all...</p>
    <br>
    <p>Up now and get 'em, boy</p>
    <p>Up now and get 'em, boy</p>
    <p>Drink to the devil and death at the doctors</p>
    <br>
    <p>Did I see you in a limousine</p>
    <p>Flinging out the fish and the unleavened</p>
    <p>Five thousand users fed today</p>
    <p>As you feed us</p>
    <p>Won't you lead us</p>
    <p>To be blessed</p>
    <br>
    <p>So we stole and drank Champagne</p>
    <p>On the seventh seal you said you never feel pain</p>
    <p>"I never feel pain, won't you hit me again?"</p>
    <p>"I need a bit of black and blue to be a rotation"</p>
    <br>
    <p>In my blood I feel the bubbles burst</p>
    <p>There was a flash of fist, an eyebrow burst</p>
    <p>You've a lazy laugh and a red white shirt</p>
    <p>I fell to the floor fainting at the sight of blood</p>
    <br>
    <p>Did I see you in a limousine</p>
    <p>Flinging out the fish and the unleavened</p>
    <p>Turn the rich into wine</p>
    <p>Walk on the mean</p>
    <p>Be they Magdalene or virgin you've already been</p>
    <p>You've already been and we've already seen</p>
    <p>That the fallen are the virtuous among us</p>
    <p>Walk among us</p>
    <p>Never judge us to be blessed</p>
    <br>
    <p>So I'm sorry if I ever resisted</p>
    <p>I never had a doubt you ever existed</p>
    <p>I only have a problem when people insist on</p>
    <p>Taking their hate and placing it on your name</p>
    <br>
    <p>Some say you're trouble, boy</p>
    <p>Just because you like to destroy</p>
    <p>You are the word, the word is 'destroy'</p>
    <p>I break this bottle and think of you fondly</p>
    <p>Did I see you in a limousine</p>
    <p>Flinging out the fish and the unleavened</p>
    <p>To the whore in a hostel</p>
    <p>Or the scum of a scheme</p>
    <p>Turn the rich into wine</p>
    <p>Walk on the mean</p>
    <p>It's not a jag in the arm</p>
    <p>It's a nail in the beam</p>
    <p>On this barren Earth</p>
    <p>You scatter your seed</p>
    <p>Be they Magdalene or virgin</p>
    <p>You've already been</p>
    <p>Yeah, you've already been</p>
    <p>We've already seen</p>
    <p>That the fallen are the virtuous among us</p>
    <p>Walk among us</p>
    <p>If you judge us</p>
    <p>We're all damned </p>
    <br><br><p>Source: <a href="https://www.azlyrics.com/lyrics/franzferdinand/thefallen.html">AZLyrics</a></p>
      </div>
    </div>
        <div id = "bottom">
    <br><a href="{{url_for('songs')}}">Return to Songs</a>
    <br><a href="{{url_for('index')}}">Return to Home Page</a>
  </div>

















    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

    <script>
    function toggleLyrics() {
      var x = document.getElementById("toggle");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
        }
      }
      </script>

</body>





</html>
