<!DOCTYPE html>
<html>
<head>
  <style>
  p { text-align: center }
  </style>



      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@8b8566057b1b1d9eb43fa366325138b99c67daf8/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@99662c7174afecc7051d2636fc7c2eca1085b56a/css/grayscaleedit.css">

    <title>You Could Have It So Much Better</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>
<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br><br><br>
  <center><h1>You Could Have It So Much Better</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <br><br><br><br>
        <ul>
          <ul>
            <li>Artist: <a href="{{url_for('franz_ferdinand')}}">Franz Ferdinand</a></li>
            <li>Year released: 2005</li>
            <li>Genre: Indie Rock</li>
            <li>Highest Charting Song: <a href="{{url_for('the_fallen')}}">The Fallen</a></li>
            <li>Number of songs: 13</li>
          </ul>
        </ul>
      </div>
      <div class="col-lg">
        <center><img src="{{url_for('static', filename='images/you_could_have_it_so_much_better.png')}}" style = "width:560px; height:315px;"></center>
        <!-- <center><img src="https://upload.wikimedia.org/wikipedia/en/3/38/You_Could_Have_It_So_Much_Better_%28Franz_Ferdinand_album_-_cover_art%29.png" style = "width:560px; height:315px;"></center> -->
      </div>
    </div>
  </div>

<div id = "bottom">
  <br><a href="{{url_for('bands')}}">Return to Bands</a>
  <br><a href="{{url_for('index')}}">Return to Home Page</a>
</div>

















    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

</body>

</html>
